<!-- <div class="fh5co-loader"></div> -->

<div id="page">
	<!-- <nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="/">Nuestra Boda<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a routerLink="/confirmar">Confirmar</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav> -->

	<header id="fh5co-header" class="fh5co-cover" style="background-image: url(assets/images/img_bg_2_new.jpg);"
		role="banner" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<audio id="musica" loop="">
			<source src="assets/music/music.mp3" type="audio/mp3">
		</audio>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn"><br><br><br><br><br><br>
							<p class="p3">Nuestra boda</p>
							<h1>Sarai &amp; Mario </h1>
							<h2>¡Nos casamos!</h2>

							<div class="coming-soon">
								<div class="time-countdown">
									<ul>
										<li class=""><span id="days">{{day}}</span>Dias</li>
										<li class=""><span id="hours">{{hours}}</span>Horas</li>
										<li class=""><span id="minutes">{{minutes}}</span>Minutos</li>
										<li class=""><span id="seconds">{{seconds}}</span>Segundos</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<audio controls src='assets/music/music.mp3' type="audio/mp3">
						Your browser does not support the <code>audio</code> element.
					</audio><br>
					<h2>Estas invitado!!</h2>
					<h3>2 de Marzo del 2024</h3>
					<p>¡Queremos que seas parte de este momento tan especial, para nosotros!</p>


				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="assets/images/n4.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Sarai Angelica</h3>
						<p>¡Estoy contenta por dar este nuevo paso en nuestras vidas, encaminados de la mano de dios!.
						</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="assets/images/novio11.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Mario</h3>
						<p>¡Me llena de mucho amor & felicidad este gran momento, el recibir la bendición de dios y
							continuar como una gran familia!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(assets/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Nuestro evento especial</span>
					<h2>Eventos</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Ceremonia religiosa</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>1:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sabado 2</span>
										<span>Marzo, 2024</span>
									</div>
									<!-- <p>Calle Juarez s/n, Santiago Atocan, Nextlalpan Estado de Mexico</p> -->
									<div class="event-col">
										<iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3755.3721912181077!2d-99.09401095611271!3d19.739335427474206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d18ca1e135814b%3A0x45c89fbb34d068c8!2siglesia%20nueva%20de%20santiago%20apostol!5e0!3m2!1ses!2smx!4v1704408981175!5m2!1ses!2smx"
											width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
											referrerpolicy="no-referrer-when-downgrade"></iframe>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Recepción en Jardín "Zamare"</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>3:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sabado 2</span>
										<span>Marzo, 2024</span>
									</div>
									<!-- <p>Calle Juárez Norte 35, Santiago Atocan, 55797 Santa Ana Nextlalpan, Méx.</p> -->
									<div class="event-col">
										<iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d547.5810149635329!2d-99.09643835020333!3d19.743092954923636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d18d97c5fbe4b3%3A0xb9aa358a1434c12a!2sJard%C3%ADn%20Zamare!5e0!3m2!1ses!2smx!4v1704409128262!5m2!1ses!2smx"
											width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
											referrerpolicy="no-referrer-when-downgrade"></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(images/img_bg_5.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Codigo de vestimenta</span>
						<h2>Formal</h2>
						<div class="center">
							<img src="assets/images/codigo-de-vestimenta.png" alt="groom">
						</div><br><br>
						<span>Pd: Todo menos blanco! </span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">

					<h2>Mesa de regalos</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-col">
									<img src="assets/images/amazon-logo-6-768x231.png" alt="groom"
										class="img-responsive">
								</div>
								<div class="event-col">
									<br><a href="https://www.amazon.com.mx/wedding/registry/1H5UWZ7SLJND5"
										class="btn-default elementor-button">Ver Mesa</a>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-col">
									<img src="assets/images/liverpool-logo.jpg" class="img-responsive">
								</div>
								<div class="event-col">
									<!-- <button class="btn-default elementor-button2" routerLink="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51364734"> Ver Mesa</button>	 -->
									<br><a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51364734"
										class="btn-default elementor-button2">Ver Mesa</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  -->


	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<!-- <h2>Confirmar asistencia!</h2> -->
					<h3 style="color: #fff;">Las palomas mensajeras están en huelga, así que confirmar tu asistencia
					</h3>
					<p style="color: #fff;">¡No queremos que falte nadie en la celebración!</p>
				</div>
			</div>
			<div class="row animate-box" *ngIf="!confirmado">
				<div class="col-md-10 col-md-offset-1" *ngIf="!listaInvitados">
					<div class="form-inline">


						<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="form-codigo">
							<div class="form-group">
								<input formControlName="codigo" placeholder="Ingresar codigo"
									class="form-control input-block">

							</div>

							<button type="submit" class="btn btn-default btn-block">Ingresar</button>
						</form>
						<p style="color: #fff; " *ngIf="bandera">No se encontro el codigo!</p>
					</div>
				</div>
				<div *ngIf="listaInvitados">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center fh5co-heading white">
								<h2 class="title-conf"> {{ listaInvitados.familia }}</h2>
								<table class="table">
									<thead>
										<tr>

											<th>Nombre</th>
											<th>Confirmar</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of listaInvitados.integrantes">
											<td>{{ item.nombre}}</td>
											<td><input type="checkbox" [value]="item.nombre"
													(change)="toggleVisibility($event)"></td>
										</tr>
									</tbody>
								</table>
								<br><br>
								<div>

									<textarea cols="34" rows="5" class="tesxt-area"
										placeholder="Mensaje emotivo para los novios"
										[(ngModel)]="listaInvitados.mensaje"></textarea>
								</div><br>
								<div><button class="btn btn-primary" (click)="cerrar()">Cerrar</button> <button
										class="btn btn-success" (click)="guardar()">Guardar</button></div>
								<div></div>

								<!-- <div class="mb-2">
									<pre>{{ listaInvitados | json }}</pre>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row animate-box" *ngIf="confirmado">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Confirmaste asistencia!</h2>
					<strong style="color: #fff;">Nos vemos en la fiesta!</strong>
				</div>
			</div>
		</div>

	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">

			</div>

		</div>
	</footer>
</div>
<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>